{% extends 'partials/base.html' %}

{% block content%} 

{% if user.is_authenticated and user.is_staff and user.is_superuser %} <!-- Ce tag est une gate pour determiner les permissions-->

    {% include 'partials/topnav.html' %} <!-- Ce tag nous permet d'inclure les pages componennt qui sont ds le dossier 'partials'-->
    <!--Graphs-->
    <div class="container">
        <div class="row my-5">
            <div class="col-md-6">
                <div class="card-header text-white" style="background-color:rgba(143, 94, 29, 0.701);">
                    <h4>Tendances des commandes / catégorie </h4>
                </div>
                
                <div class="bg-white">
                    <canvas id="myChart1" width="400" height="300"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart1').getContext('2d');
                        var myChart1 = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: [{% for order in order_categorie %} '{{order}}', {% endfor %}],
                                datasets: [{
                                    label: 'Orders',
                                    data: [{% for order in order_number %} '{{order}}', {% endfor %}],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(25, 159, 64, 1)',
                                        <!-- Copy and paste colors for repeat them-->
                                        'rgba(32, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(22, 106, 112, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(15, 102, 74, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)',
                                        'rgba(32, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(232, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-header text-white" style="background-color:rgb(37, 75, 140);">
                    <h4>Tendances matériel IT / catégorie </h4>
                </div>
                <div class="bg-white">
                    <canvas id="myChart" width="400" height="300"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: [{% for categorie in categorie_list %} '{{categorie}}', {% endfor %}],
                                datasets: [{
                                    label: '',
                                    data: [{% for number in number_list %} '{{number}}', {% endfor %}],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(25, 159, 64, 1)',
                                        <!-- Copy and paste colors for repeat them-->
                                        'rgba(32, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(232, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)',
                                        'rgba(32, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(232, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <!--End Graphs-->
{% else %}
    {% include 'dashboard/staff_index.html' %}
{% endif %}

{% endblock content%}