{% extends 'partials/base.html' %}


{% block content %}
{% include 'partials/topnav.html' %} <!-- Ce tag nous permet d'inclure les pages componennt qui sont ds le dossier 'partials'-->
<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Odered by</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
               {% for order in orders %}
                <tr>
                    <td>{{order.product}}</td>
                    <td>{{order.category}}</td>
                    <td>{{order.order_quantity}}</td>
                    <td>{{order.staff.username}}</td>
                    <td>{{order.date}}</td>
                </tr>
                {% endfor %}            
            </tbody>
        </table>
    </div>
</div>

{% endblock %}