{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col md-6 offset md-3">
            <h3>Mise à jour Matériel</h3>
            <hr>
            <div class="alert alert-info">
                <form method="POST">
                    {% csrf_token%}
                        {{form | crispy}}
                    <input type="submit" value="Mettre à jour">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}